{% extends "layout.html" %}
{% block navbar %}
<ul class="nav navbar-nav">
    <li class=""><a href="{{ url_for('index') }}">Home</a></li>
    <li class="active"><a href="{{ url_for('mvv1') }}">Best Travel Mode</a></li>
    <li class=""><a href="{{ url_for('mvv2') }}">Transit Efficiency</a></li>
    <li class=""><a href="{{ url_for('mvv3') }}">Transit Delay</a></li>
</ul>
{% endblock %}

{% block main %}
<div id="map"></div>
{% endblock %}

{% block js %}
<!-- custom js -->
<script src="{{ url_for('static', filename='js/mvv1.js') }}"></script>
{% endblock %}
